<div class="footer__container">
  <div class="footer__top">
    <form class="signup-form" action="/users/register" method="get">
      <h3 class="signup-form__title">Join our mailing list</h3>
      <div class="signup-form__group">
        <input type="email" name="email" class="signup-form__input" placeholder="your@email.com">
        <button class="signup-form__btn btn btn--white">Sign up</button>
      </div>
    </form>
  </div>
  <div class="footer__bottom">
    <div class="footer__copy">© <%= new Date().getFullYear() %> Livana. All rights reserved.</div>
    <!-- <div class="footer__social">
      <svg class="icon">
        <use xlink:href="/images/icons/sprite.svg#linkedin"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="/images/icons/sprite.svg#facebook"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="/images/icons/sprite.svg#instagram"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="/images/icons/sprite.svg#skype"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="/images/icons/sprite.svg#twitter"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="/images/icons/sprite.svg#pinterest"></use>
      </svg>
    </div> -->
  </div>
</div>