<div class="header__container">
  <div class="header__logo">Livana</div>

  <nav class="header__menu menu">
    <div class="menu__body">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="#about" class="menu__link">About</a>
        </li>
        <li class="menu__item">
          <a href="/products" class="menu__link">Products</a>
        </li>
        <li class="menu__item">
          <a href="#services" class="menu__link">Contacts</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="header__actions">
    <form class="header__form login-form" action="users/login" method="post">
      <input type="email" placeholder="admin@livana.com" name="email">
      <button><span>Sign in</span></button>
    </form>
  </div>
</div>