<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>

<body>
  <h1>Error</h1>
  <p>
    <%= message %>
  </p>

  <% if (error && error.stack) { %>
    <pre><%= error.stack %></pre>
    <% } %>

      <a href="/">Go home</a>
</body>

</html>