.signup-form {
  width: fit-content;
}

.signup-form__title {
  color: rgba(255, 255, 255, 1);
  margin-block-end: 1.375rem;
  /* 22/16 */
}

.signup-form__group {
  display: flex;
}

.signup-form__input {
  padding-block: 1.375rem;
  /* 22/16 */
  padding-inline-start: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  min-width: 22.125rem;
  /* 354/16 */
}

.signup-form__input::placeholder {
  color: rgba(255, 255, 255, 1);
}