/* ===== HEADER ===== */
.header {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.header__container {
  min-height: 5rem;
  /* 80/16 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__login {
  color: rgba(114, 110, 141, 1);
  text-transform: capitalize;
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: transparent;
  transition: background-color 0.3s ease-out;
}

.header__login:hover {
  background-color: rgba(235, 232, 244, 1);
}

/* ===== LOGIN FORM ===== */
.login-form {
  display: flex;
}

.login-form input {
  min-height: 3.5rem;
  /* 56/16 */
  min-width: 15.875rem;
  /* 254/16 */
  background-color: rgba(249, 249, 249, 1);
  padding: 1rem;
}

.login-form input::placeholder {
  color: rgba(42, 37, 75, 0.4);
}

.login-form button {
  padding: 1rem;
  background-color: rgba(42, 37, 75, 1);
  color: rgba(255, 255, 255, 1);
  min-width: 7.375rem;
  /* 118/16 */
  transition: background-color 0.3s ease-out;
}

.login-form button:hover {
  background-color: rgba(30, 25, 62, 1);
}