.page-main {
  background: #f9fafb;
  color: #111;
}

[class*="__container"] {
  max-width: 75rem;
  /* 1200/16 */
  padding-inline: 1rem;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper>main {
  flex-grow: 1;
}

.logo {
  font-size: 1.5rem;
  /* 24/16 */
  color: rgba(34, 32, 46, 1);
}

/* ===== NAV ===== */
.menu__list {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.75rem;
  flex-wrap: wrap;
}

.menu__item {
  color: rgba(114, 110, 141, 1);
  text-transform: capitalize;
}

.menu__link {
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: transparent;
  transition: background-color 0.3s ease-out;
}

.menu__link:hover,
.active {
  background-color: rgba(235, 232, 244, 1);
}

/* ===== MAIN ===== */
.main {
  padding-block-start: 3.75rem;
  /* 60/16 */
}

.main__title {
  font-size: 28px;
  margin-bottom: 30px;
}

/* ===== PRODUCTS GRID ===== */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
}

/* ===== PRODUCT CARD ===== */
.product-card {
  overflow: hidden;
  transition: transform 0.3s ease-out;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card__image {
  aspect-ratio: 305 / 375;
  height: 23.4375rem;
  /* 375/16 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__content {
  padding-block-start: 1.5rem;
  color: rgba(42, 37, 75, 1);
}

.product-card__title {
  font-size: 1.25rem;
  /* 20/16 */
  margin-bottom: 1rem;
}

.product-card__price {
  font-size: 18px;
}

/* ===== FOOTER ===== */
.footer {
  background: #111827;
  color: #9ca3af;
  margin-top: 60px;
}

.footer__container {
  font-size: 14px;
}

.footer__top {
  padding-block: 1.375rem;

}

.footer__social {
  display: flex;
  column-gap: 1.5rem;
}

.footer__social .icon {
  aspect-ratio: 1;
  width: 1.5rem;
  /* 24/16 */
  color: white;
}

.footer__social .icon path {
  color: white;
}

.footer__bottom {
  padding-block-end: 1.375rem;
  /* 22/16 */
  color: rgba(255, 255, 255, 1);
}

.footer__bottom::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(78, 77, 147, 1);
  margin-block-end: 1.375rem;
  /* 22/16 */
}