.header__container {
  display: flex;
  flex-direction: column;
}

.header__top {
  padding-block: 1.625rem;
  /* 26/16 */
  padding-inline: 1px;
  display: flex;
  column-gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.search-form__btn,
.actions-header__login {
  aspect-ratio: 1;
  height: 1rem;
  transition: all 0.3s ease-out;
}

.search-form__btn:hover .icon,
.actions-header__login:hover .icon {
  transform: scale(1.1);
}

.actions-header__logout {
  color: rgba(42, 37, 75, 1);
  padding-block: 0.75rem;
  /* 12/16 */
  padding-inline: 1.5rem;
  /* 24/16 */
  transition: all 0.3s ease-out;
}

.actions-header__logout:hover {
  background-color: rgba(235, 232, 244, 1);
}

.actions-header {
  display: flex;
  column-gap: 1rem;
}

.header__menu {
  padding-block-end: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  /* 20/16 */
  justify-content: center;
  align-items: center;
}

.header__menu::before {
  content: "";
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}