@import url('fonts.css');
@import url('reset.css');
@import url('admin.css');
@import url('form.css');
@import url('main.css');
@import url('dark-signup.css');

img,
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding-block: 1rem;
  padding-inline: 2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
  white-space: nowrap;
}

.btn--white {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(42, 37, 75, 1);
}

.btn--white:hover {
  background-color: rgba(249, 249, 249, 1);
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
}