<!DOCTYPE html>
<html>

<head>
  <title>
    Register Form
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script src="/javascripts/RequestManager.js"></script>
  <script>
    function onFileInput(event) {
      RequestManager.handleFileSelect(event, '#imgPreview')
    }
  </script>
</head>

<body class="page-main">
  <div class="wrapper">
    <section class="register">
      <div class="register__container">
        <form action="/users/register" class="registration__form registration form" method="post"
          enctype="multipart/form-data">
          <!-- NAME -->
          <div class="registration__group form__group">
            <label for="name" class="registration__label form__label">Name</label>
            <input id="name" name="name" type="text" class="registration__input form__input">
            <% if (errors?.name) { %>
              <span class="form__error">
                <%= errors.name %>
              </span>
              <% } %>
          </div>
          <!-- EMAIL -->
          <div class="registration__group form__group">
            <label for="email" class="registration__label form__label">Email</label>
            <input id="email" type="email" class="registration__input form__input" value="<%= email %>" readonly>
          </div>
          <!-- PASSWORD -->
          <div class="registration__group form__group">
            <label for="password" class="registration__label form__label">Password</label>
            <input id="password" name="password" type="password" class="registration__input form__input">
            <% if (errors?.password) { %>
              <span class="form__error">
                <%= errors.password %>
              </span>
              <% } %>
          </div>

          <!-- PHOTO -->
          <div class="form__group">
            <label class="form__label" for="img">Photo</label>


            <div class="form__preview">
              <img id="imgPreview" src="<%= data?.img ? `/${data.img}` : '/images/photo-not-available.jpg' %>"
                alt="User photo" class="form__image">
            </div>


            <input type="file" id="img" name="img" class="form__file" accept="image/*" onchange="onFileInput(event)">
          </div>
          <div class="registration__actions form__actions">
            <button type="submit" class="button button--primary">
              Register
            </button>

            <a href="/" class="button button--secondary">
              Cancel
            </a>
          </div>
        </form>
      </div>
    </section>
  </div>
</body>

</html>